[submodule "site/fields/markdown"]
	path = site/fields/markdown
	url = https://github.com/JonasDoebertin/kirby-visual-markdown.git
[submodule "site/plugins/firewall"]
	path = site/plugins/firewall
	url = https://github.com/dweidner/kirby-firewall
