# Libraries
# ---------
/node_modules/*
/vendor/*

# System files
# ------------
Icon
.DS_Store
deploy-config.php

# Temporary files
# ---------------
/content/*
!/content/site.txt
/thumbs/*
!/thumbs/index.html
/site/cache/*
!/site/cache/index.html

# Kirby accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Avatars
# ---------------

/assets/avatars/*
!/assets/avatars/index.html
