/*
Purpose: This file contains the styling for the footer component
Date: May 17 2017
*/

// footer
.footer {
    background: darken($color-background, 4);
    padding: 64px;
    text-align: center;
}
