/*
Purpose: This file contains the styling for the hero component
Date: May 17 2017
*/

// hero
.hero {
    position: relative;
    height: 600px;

    // Hero Image
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(1);
    }

    // hero__text
    @include element('text') {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 1084px;
        width: 100%;
        padding: 0 64px;
        z-index: 100;
        box-sizing: border-box;
        transform: translate(-50%, -50%);

        // Small Breakpoint
        @include breakpoint('small') {
            padding: 0 24px;
        }

        // Medium Breakpoint
        @include breakpoint('medium') {
            padding: 0 48px;
        }
    }

    // hero__title
    @include element('title') {
        margin-bottom: 8px;
    }

    // hero__subtitle
    @include element('subtitle') {
        margin: 0;
        color: $color-accent;
        font-size: 22px;
        font-weight: 500;
    }

    // Small Breakpoint
    @include breakpoint('small') {
        height: 300px;
    }

    // Medium Breakpoint
    @include breakpoint('medium') {
        height: 460px;
    }
}
